body {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.botao {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}


.botaoVolta {
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaoVolta:hover {
    background-color: #d32f2f; 
}


.botaoToDo {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botaoToDo:hover {
    background-color: #388E3C; 
}

.inputToDo {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.inputToDo:focus {
    border-color: #4CAF50; 
    outline: none;
}
